  <div class="background-wrapper">
    <div class="background">

    </div>
  </div>

  <div class="page-content">

    <div class="landing-page">

      <h1 id="homepage-heading">Visualise your favourite songs with Compose</h1>

        <div id="search-form">
          <form for="search">
          <input type="text" name="search" id="search-input" value="" autocomplete="off"  placeholder="Search Spotify for a song or artist">
          <button id="main-search-btn">Search</button>
          </form>
        </div>

    <div id="search-results">
      <h6 id="add-more-hashtags">Add more hastags</h6><i id="add-hashtag" class="fa fa-plus-circle"></i>
      <form for="hashtag">
        <input type="text" name="hashtag" id="hashtag-input" autocomplete="off"  placeholder="Seperate hashtags with commas">
      </form>
      <p>SONGS</p>
        <ul id="songs" class="list">
        </ul>
      <!-- <p>ARTIST</p>
        <ul id="artist" class="list">
        </ul> -->
    </div>

  </div>
