<div id = "player" data-song-id = '<%= songid %>' data-song-name = '<%= songName %>' data-song-artist = '<%= songArtist %>' data-song-tag = '<%= songTag %>'>
  <div class="player-wrapper">
    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

    <div class="player-floated-img">
    </div>

  </div>
</div>
