@font-face {
  font-family: 'NeutraThin';
  src: url('/fonts/NeutraDispThin.otf');
}

@font-face {
  font-family: 'Neutra';
  src: url('/fonts/NeutraTextBook.otf');
}

@font-face {
  font-family: 'NeutraBold';
  src: url('/fonts/NeutraTextBold.otf');
}

@font-face {
    font-family: 'fabfeltscriptbold';
    src: url('/fonts/fabfeltscript-bold.eot');
    src: url('/fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/fabfeltscript-bold.woff2') format('woff2'),
         url('/fonts/fabfeltscript-bold.woff') format('woff'),
         url('/fonts/fabfeltscript-bold.ttf') format('truetype'),
         url('/fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* * {
 border: 1px solid red;
} */

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  overflow-y: hidden;
}

.page-content {
  display: flex;
  position: absolute;
  top: 20%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

/* Background */

.background-wrapper {
  width: 100%;
  overflow: hidden;
}

.background {
  width: calc(100% + 320px);
}

.floated-img {
  float: left;
  background-color: #1d1d1d;
}

.floated-img img {
  display: block;
  opacity: 0.4;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}


/* Navingation */

#navbar-brand {
  margin-top: 1%;
  margin-left: 5%;
  font-family: fabfeltscriptbold;
  font-size: 4em;
  letter-spacing: 5px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: block;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #ffffff;
}

.navbar ul {
  text-align: right;
  padding: 0;
  margin-right: 5%;
  margin-top: 2%;
  list-style: none;
}

.navbar li {
  font-family: NeutraThin;
  font-size: 1.5em;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 10px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 1%;
  line-height: 50px;
  cursor: pointer;
  float: right;
  text-shadow: 0 0 3px rgb(0,0,0), 0 0 15px rgb(0,0,0);
}

.navbar ul li:hover {
  color: #ebb91c;
}

.navbar li.homepage-nav {
  display: block;
}

.navbar li.homepage-nav.active {
  display: none;
}

.navbar li.player-page-nav {
  display: none;
}

.navbar li.player-page-nav.active {
  display: block;
}


/* navbar for player to have Neurta text and color #1d1d1d */

#search-icon {
  font-size: 1.5em;
  float: left;
  margin-top: 4px;
  margin-right: 6px;
}

#search-input-player {
  width: 0px;
  height: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  transition: width 0.5s;
}

#search-input-player:focus {
  width: 200px;
  border-radius: 15px;
  outline: none;
  color: #1d1d1d;
}

/* Landing Page */

.landing-page {
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  width: 100%;
  transition: all 1s;
}

.landing-page.active {
  margin-top: 0;
}

.landing-page h1 {
  text-align: center;
  font-family: NeutraThin;
  font-size: 4em;
  color: #ebb91c;
  transition: all 1s;
}


/* Search Form */

#search-form {
  display: block;
}

#search-form button {
  margin-left: 5%;
  position: absolute;
  margin-left: -5px;
  height: 50px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: Neutra;
  font-size: 1.5em;
  color: #d9faff;
  padding: 10px;
  width: 100px;
  background-color: #32b1fc;
}

input {
  text-align: center;
  font-family: NeutraThin;
  border: none;
}

#search-input {
  font-size: 2em;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 80%;
  max-width: 500px;
  height: 50px;
  padding: 5px;
  margin-left: 26%;
}

#add-more-hashtags {
  display: inline;
  margin-left: 30%;
  font-family: NeutraThin;
  font-size: 1.5em;
  color: #46484e;
}

#add-hashtag {
  font-size: 1.5em;
  margin-left: 2%;
}

#hashtag-input {
  color: #1d1d1d;
  height: 40px;
  max-width: 290px;
  width: 60%;
  margin-left: 21%;
  margin-bottom: 5%;
  font-size: 1.5em;
  opacity: 0;
  transition: all 2s;
}

#hashtag-input.active {
  opacity: 1;
}

#search-form input:focus, textarea:focus {
  box-shadow: 0 0 15px rgba(50, 177, 252, 1);
  border: 1px solid rgb(50 177 252);
  outline: 0; }


/* Search Results */

#search-results {
  position: relative;
  z-index: 1;
  background-color: #1d1d1d;
  opacity: 0;
  width: 80%;
  max-width: 500px;
  margin-left: 26%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 5px;
  border-top: 1px solid #161515;
  border-left: 1px solid #161515;
  color: #fbfbfc;
  box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
  transition: all 1s;
}


/* search results drop down transition */
#search-results.active {
  opacity: 1;
}

#search-results p {
  font-family: NeutraBold;
  letter-spacing: 3px;
  margin: 0 auto;
  max-width: inherit;
  width: 80%;
}

#search-results ul {
  border-radius: 5px;
  margin-bottom: 4%;
  text-decoration: none;
  display: block;
  color: #fbfbfc;
  padding: 0;
}

#songs li {
    background-color: #2e2f33;
    padding: 2%;
    margin: 3% 0%;
}

#artist li {
  background-color: #2e2f33;
  padding: 2%;
  margin: 3% 0%;
}

#search-results li:hover {
  background-color: #46484e;
}

#search-results .bold {
  font-family: Neutra;
}

.list {
  font-family: NeutraThin;
  font-size: 1.2em;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: inherit;
  width: 80%;
  list-style-type: none;
  padding-top: 2%;
  padding-bottom: 2%;
}

.list img {
  border-radius: 50%;
  background-color: #ebb91c;
}


/* player */

.player-wrapper {
  width: 100%;
  overflow: hidden;
  -webkit-animation: moveLeft 50s infinite alternate;
  animation: moveLeft 50s infinite alternate;
}

.player {
  width: 125%;
}

.player-floated-img {
  float: left;
  height: 320px;
  width: calc(100% + 320px);
  overflow: hidden;
}

.player-floated-img img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: -5px;
}

.player-floated-img img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.player-floated-img img:first-child {
  -webkit-animation: bannermove 40s linear infinite;
          animation: bannermove 40s linear infinite;
}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
   /* transform:translate3d(); */
 }
 100% {
   margin-left: -2125px;
 }
}


/* Spotify Player */

#play-btn {
  font-size: 4em;
  margin-left: 47%;
  margin-top: 24px;
  position: absolute;
  display: block;
  opacity: 0;
  transition: all 0.5s;
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0);
}

#play-btn.active {
  opacity: 1;
}

#spotify {
  box-shadow: 5px 5px 5px rgba(29,29,29,0.8);
}

#spotify-player {
  position: absolute;
  margin-left: 38%;
  margin-top: 19px;
  display: none;
}

#spotify-player.active {
  display: block;
}
